[submodule "gojsontoyaml-git"]
	path = gojsontoyaml-git
	url = ssh+git://aur@aur.archlinux.org/gojsontoyaml-git.git
[submodule "ytt"]
	path = ytt
	url = ssh+git://aur@aur.archlinux.org/ytt.git
[submodule "ytt-git"]
	path = ytt-git
	url = ssh+git://aur@aur.archlinux.org/ytt-git.git
[submodule "istio-bin"]
	path = istio-bin
	url = ssh+git://aur@aur.archlinux.org/istio-bin.git
[submodule "operator-sdk"]
	path = operator-sdk
	url = ssh+git://aur@aur.archlinux.org/operator-sdk.git
[submodule "kapp-git"]
	path = kapp-git
	url = ssh+git://aur@aur.archlinux.org/kapp-git.git
[submodule "mtail-bin"]
	path = mtail-bin
	url = ssh+git://aur@aur.archlinux.org/mtail-bin.git
[submodule "bluejeans"]
	path = bluejeans
	url = ssh+git://aur@aur.archlinux.org/bluejeans.git
