[submodule "gojsontoyaml-git"]
	path = gojsontoyaml-git
	url = ssh+git://aur@aur.archlinux.org/gojsontoyaml-git.git
[submodule "ytt"]
	path = ytt
	url = ssh+git://aur@aur.archlinux.org/ytt.git
[submodule "ytt-git"]
	path = ytt-git
	url = ssh+git://aur@aur.archlinux.org/ytt-git.git
[submodule "istio-bin"]
	path = istio-bin
	url = ssh+git://aur@aur.archlinux.org/istio-bin.git
[submodule "operator-sdk"]
	path = operator-sdk
	url = ssh+git://aur@aur.archlinux.org/operator-sdk.git
